* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: #293f50;
}

.wrapper .toplink {
  position: fixed;
  right: 0;
  bottom: 0;
}

.wrapper .header {
  width: 80%;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 95px 95px;
      grid-template-rows: 95px 95px;
      grid-template-areas: "staffconference date" "staffconference navlist";
}

.wrapper .header .staffconference {
  font-size: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: staffconference;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 10px;
}

.wrapper .header .date {
  padding-right: 50px;
  color: #648880;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: date;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: large;
}

.wrapper .header .navlist {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: navlist;
  color: white;
}

.wrapper .header .navlist .linklist {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .header .navlist a {
  color: white;
  text-decoration: none;
}

.wrapper .header .navlist a:hover {
  color: #648880;
}

.wrapper .part2 {
  background: -webkit-gradient(linear, left top, right top, from(#85dabd), to(#f5eded));
  background: linear-gradient(to right, #85dabd, #f5eded);
  height: 200px;
}

.wrapper .part2 .intro {
  width: 80%;
  margin: auto;
  text-align: center;
}

.wrapper .part2 .intro h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #648880;
  font-size: 45px;
  padding: 20px;
}

.wrapper .part2 .intro p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: grey;
}

.wrapper .part2 .intro .introdes {
  font-size: 100px;
}

.wrapper .venuesection {
  background-color: white;
}

.wrapper .venuesection iframe {
  width: 100%;
  height: 100%;
}

.wrapper .venuesection a {
  text-decoration: none;
  color: #648880;
}

.wrapper .venuesection .aboutvenue {
  width: 80%;
  margin: auto;
  padding: 70px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
      grid-template-areas: "chicagotheater map1" "fourseasons map2";
  grid-row-gap: 30px;
}

.wrapper .venuesection .aboutvenue .venueheading {
  color: #648880;
}

.wrapper .venuesection .aboutvenue .chicagotheater {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: chicagotheater;
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  font-weight: bold;
}

.wrapper .venuesection .aboutvenue .chicagotheater iframe {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: map1;
}

.wrapper .venuesection .aboutvenue .fourseasons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fourseasons;
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  font-weight: bold;
}

.wrapper .venuesection .aboutvenue .fourseasons iframe {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: map2;
}

.footer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .navlist {
  padding: 10px 0px;
}

.footer .navlist .linklist {
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .navlist .linklist a {
  text-decoration: none;
  color: white;
}

.footer .navlist .linklist a:hover {
  color: #648880;
}

@media screen and (max-width: 1140px) {
  .wrapper .header {
    width: 100%;
    margin: auto;
    height: 300px;
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 190px 30px 60px;
        grid-template-rows: 190px 30px 60px;
        grid-template-areas: "staffconference" "date " "navlist ";
  }
  .wrapper .header .date {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .part2 .intro h1 {
    font-size: x-large;
  }
  .wrapper .part2 .intro p {
    font-size: large;
  }
  .wrapper .venuesection .aboutvenue {
    width: 80%;
    margin: auto;
  }
  .wrapper .venuesection .aboutvenue {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 575px) {
  .wrapper .header {
    text-align: center;
  }
  .wrapper .header .staffconference {
    font-size: 25px;
  }
  .wrapper .header .date {
    padding: 0%;
  }
  .wrapper .venuesection {
    background-color: white;
  }
  .wrapper .venuesection iframe {
    width: 100%;
    height: 100%;
  }
  .wrapper .venuesection a {
    text-decoration: none;
    color: #648880;
  }
  .wrapper .venuesection .aboutvenue {
    padding-top: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 100px 200px 100px 200px;
        grid-template-rows: 100px 200px 100px 200px;
        grid-template-areas: "chicagotheater" "map1" "fourseasons" "map2";
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 430px) {
  .wrapper .header .staffconference {
    font-size: medium;
    padding: 0;
  }
  .wrapper .header .date {
    font-size: medium;
    padding: 0;
  }
  .wrapper .header .navlist .linklist {
    font-size: small;
  }
  .wrapper .part2 .intro p {
    font-size: small;
  }
  .wrapper .venuesection .aboutvenue {
    width: 100%;
  }
  .footer .navlist .linklist {
    font-size: x-small;
  }
}
/*# sourceMappingURL=conferenceWebVenue.css.map */